.Message-box
  .Chat-main__field
    .Chat-main__field-list-name
      = message.user.name
    .Chat-main__field-list-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Chat-main__field-message{data: {message: {id: message.id}}}
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?