.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icon
        =link_to "#", class: "Top-items__name-btn" do
          = icon('far','edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .Side-bar__group-list
    .Group-listbox
      .Group-listbox__name
        techcamp
      .Group-listbox__message
        まだメッセージはありません。
    .Group-listbox
      .Group-listbox__name
        techcamp
      .Group-listbox__message
        まだメッセージはありません。